@page
@model CTRestaurant.App.Frontend.Pages.DetallesModel
@{
    @switch (@Model.item)
    {
        case 1:
            ViewData["Title"] = "Detalles Profesor";
            break;
        case 2:
            ViewData["Title"] = "Detalles Registro";
            break;
        case 3:
            ViewData["Title"] = "Detalles Administrativo";
            break;
        case 4:
            ViewData["Title"] = "Detalles Estudiante";
            break;
        case 5:
            ViewData["Title"] = "Detalles Personal  Aseo";
            break;
        default:
        break;
    }
    //ViewData["Title"] = "Detalles";
}
@switch (@Model.item)
{
    case  1:

        <h1>Detalles del profesor</h1>
        <table class="table">
            <tr>
                <td>@Model.profesor.nombre</td>
                <td>@Model.profesor.apellido</td>
                <td>@Model.profesor.Facultad</td>
                <td>@Model.profesor.Cubiculo</td>
                <td>@Model.profesor.edad</td>
                <td>@Model.profesor.estadoCovid</td>
            </tr>
        </table>
    <a class="btn btn-primary text-dark" asp-area="" asp-page="/Listas/Profesores">Profesores</a>
    break;
    case  2:
        <h1>Detalles del registro @Model.registroRestaurante.Id</h1>
        <table class="table" style="text-align:center;">
            <tr>

                <th>Fecha</th>
                <th>Aforo</th>
                <th>Cantidad Mesas</th>
                <th>Puestos Por Mesa</th>
            </tr>
            <tr>
                <td>@Model.registroRestaurante.FechaRegistro.ToShortDateString()</td>
                <td>@Model.registroRestaurante.Aforo</td>
                <td>@Model.registroRestaurante.CantidadMesas</td>
                <td>@Model.registroRestaurante.PuestosPorMesa</td>
            </tr>

        </table>
    <input class="btn btn-primary" type="button" onclick="history.back()" name="volver atrás" value="Volver Atrás">
    break;
    case  3:

        <h1>Detalles de Administrativo</h1>
        <table class="table">
            <tr>
                <td>@Model.administrativo.nombre</td>
                <td>@Model.administrativo.apellido</td>
                <td>@Model.administrativo.Oficina</td>
                <td>@Model.administrativo.Dependencia</td>
                <td>@Model.administrativo.edad</td>
                <td>@Model.administrativo.estadoCovid</td>
            </tr>
        </table>
    <a class="btn btn-primary text-dark" asp-area="" asp-page="/Listas/Administrativos">Administrativos</a>
    break;
    case  4:

        <h1>Detalles de Estudiante</h1>
        <table class="table">
            <tr>
                <td>@Model.estudiante.nombre</td>
                <td>@Model.estudiante.apellido</td>
                <td>@Model.estudiante.Programa</td>
                <td>@Model.estudiante.edad</td>
                <td>@Model.estudiante.estadoCovid</td>
            </tr>
        </table>
    <a class="btn btn-primary text-dark" asp-area="" asp-page="/Listas/Estudiantes">Estudiantes</a>
    break;
    case  5:

        <h1>Detalles de Personal Aseo</h1>
        <table class="table">
            <tr>
                <td>@Model.personalAseo.nombre</td>
                <td>@Model.personalAseo.apellido</td>
                <td>@Model.personalAseo.Turno_servcio_aseo</td>
                <td>@Model.personalAseo.edad</td>
                <td>@Model.personalAseo.estadoCovid</td>
            </tr>
        </table>
    <a class="btn btn-primary text-dark" asp-area="" asp-page="/Listas/PersonalAseo">PersonalAseo</a>
    break;
    default:
    break;
}