@page
@model CTRestaurant.App.Frontend.Pages.DetallesModel
@{
}
<h1>Detalles del profesor</h1>
<table class="table">
    <tr>
            <td>@Model.profesor.nombre</td>
            <td>@Model.profesor.apellido</td>
            <td>@Model.profesor.Facultad</td>
            <td>@Model.profesor.Cubiculo</td>
            <td>@Model.profesor.edad</td>
    </tr>
</table>
<a class="btn btn-primary text-dark" asp-area="" asp-page="/Listas/Profesores">Profesores</a>