@page
@model CTRestaurant.App.Frontend.Pages.EditarModel
@{
    @switch (@Model.item)
    {
        case 1:
            if (@Model.profesor.id != 0)
            {
                ViewData["Title"] = "Editar Profesor";
            }
            else
            {
                ViewData["Title"] = "Agregar Profesor";
            }
            break;

        case 2:
            if (@Model.registro.Id != 0)
            {
                ViewData["Title"] = "Editar Registro";
            }
            else
            {
                ViewData["Title"] = "Agregar Registro";
            }
            break;

        
            case 3:
            if (@Model.administrativo.id != 0)
            {
                ViewData["Title"] = "Editar Administrativo";
            }
            else
            {
                ViewData["Title"] = "Agregar Administrativo";
            }
            break;
             case 4:
            if (@Model.estudiante.id != 0)
            {
                ViewData["Title"] = "Editar Estudiante";
            }
            else
            {
                ViewData["Title"] = "Agregar Estudiante";
            }
            break;
             case 5:
            if (@Model.personalAseo.id != 0)
            {
                ViewData["Title"] = "Editar Personal Aseo";
            }
            else
            {
                ViewData["Title"] = "Agregar Persoal Aseo";
            }
            break;
             case 6:
            if (@Model.personalCocina.id != 0)
            {
                ViewData["Title"] = "Editar Personal Cocina";
            }
            else
            {
                ViewData["Title"] = "Agregar Persoal Cocina";
            }
            break;
            default:
            break;
    }


}
@switch (@Model.item)
{
    case 1:


    <h1>Editar Profesor</h1>
    <form method="post">
        <input type="hidden" asp-for="profesor.id">
        <div class="form-group">
            <label asp-for="profesor.nombre"></label>
            <input asp-for="profesor.nombre" class="form-control">
            <span class="text-danger" asp-validation-for="profesor.nombre"></span>
        </div>
        <div class="form-group">
            <label asp-for="profesor.apellido"></label>
            <input asp-for="profesor.apellido" class="form-control">
            <span class="text-danger" asp-validation-for="profesor.apellido"></span>
        </div>
        <div class="form-group">
            <label asp-for="profesor.Facultad"></label>
            <input asp-for="profesor.Facultad" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="profesor.Cubiculo"></label>
            <input asp-for="profesor.Cubiculo" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="profesor.identificacion"></label>
            <input asp-for="profesor.identificacion" class="form-control">
            <span class="text-danger" asp-validation-for="profesor.identificacion"></span>
        </div>
        <div class="form-group">
            <label asp-for="profesor.edad"></label>
            <input asp-for="profesor.edad" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="profesor.estadoCovid"></label>
            <input asp-for="profesor.estadoCovid" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios></button>
    </form>
    break;
    case 2:
        @if (@Model.registro.Id != 0)
        {
            <h1>Editar registro @Model.registro.Id</h1>
        }
        else
        {
            <h1>Agregar registro</h1>
        }
        <form method="post">
            <input type="hidden" asp-for="registro.Id">
            <div class="form-group">
                <label asp-for="@Model.registro.FechaRegistro"></label>
                <input asp-for="@Model.registro.FechaRegistro" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="@Model.registro.Aforo"></label>
                <input asp-for="@Model.registro.Aforo" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="@Model.registro.CantidadMesas"></label>
                <input asp-for="@Model.registro.CantidadMesas" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="@Model.registro.PuestosPorMesa"></label>
                <input asp-for="@Model.registro.PuestosPorMesa" class="form-control">
            </div>
            <input class="btn btn-primary" type="button" onclick="history.back()" name="volver atrás" value="Volver Atrás">
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
        </form>
        break;
    default:
    break;
     case 3:


    <h1>Editar Administrativo</h1>
    <form method="post">
        <input type="hidden" asp-for="administrativo.id">
        <div class="form-group">
            <label asp-for="administrativo.nombre"></label>
            <input asp-for="administrativo.nombre" class="form-control">
            <span class="text-danger" asp-validation-for="administrativo.nombre"></span>
        </div>
        <div class="form-group">
            <label asp-for="administrativo.apellido"></label>
            <input asp-for="administrativo.apellido" class="form-control">
            <span class="text-danger" asp-validation-for="administrativo.apellido"></span>
        </div>
        <div class="form-group">
            <label asp-for="administrativo.Oficina"></label>
            <input asp-for="administrativo.Oficina" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="administrativo.Dependencia"></label>
            <input asp-for="administrativo.Dependencia" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="administrativo.identificacion"></label>
            <input asp-for="administrativo.identificacion" class="form-control">
            <span class="text-danger" asp-validation-for="profesor.identificacion"></span>
        </div>
        <div class="form-group">
            <label asp-for="administrativo.edad"></label>
            <input asp-for="administrativo.edad" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="administrativo.estadoCovid"></label>
            <input asp-for="administrativo.estadoCovid" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios></button>
    </form>
    break;
     case 4:


    <h1>Editar Estudiante</h1>
    <form method="post">
        <input type="hidden" asp-for="estudiante.id">
        <div class="form-group">
            <label asp-for="estudiante.nombre"></label>
            <input asp-for="estudiante.nombre" class="form-control">
            <span class="text-danger" asp-validation-for="estudiante.nombre"></span>
        </div>
        <div class="form-group">
            <label asp-for="estudiante.apellido"></label>
            <input asp-for="estudiante.apellido" class="form-control">
            <span class="text-danger" asp-validation-for="estudiante.apellido"></span>
        </div>
        <div class="form-group">
            <label asp-for="estudiante.Programa"></label>
            <input asp-for="estudiante.Programa" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="estudiante.identificacion"></label>
            <input asp-for="estudiante.identificacion" class="form-control">
            <span class="text-danger" asp-validation-for="estudiante.identificacion"></span>
        </div>
        <div class="form-group">
            <label asp-for="estudiante.edad"></label>
            <input asp-for="estudiante.edad" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="estudiante.estadoCovid"></label>
            <input asp-for="estudiante.estadoCovid" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios></button>
    </form>
    break;
      case 5:


    <h1>Editar PersonalAseo</h1>
    <form method="post">
        <input type="hidden" asp-for="personalAseo.id">
        <div class="form-group">
            <label asp-for="personalAseo.nombre"></label>
            <input asp-for="personalAseo.nombre" class="form-control">
            <span class="text-danger" asp-validation-for="personalAseo.nombre"></span>
        </div>
        <div class="form-group">
            <label asp-for="personalAseo.apellido"></label>
            <input asp-for="personalAseo.apellido" class="form-control">
            <span class="text-danger" asp-validation-for="personalAseo.apellido"></span>
        </div>
        <div class="form-group">
            <label asp-for="personalAseo.Turno_servcio_aseo"></label>
            <input asp-for="personalAseo.Turno_servcio_aseo" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="personalAseo.identificacion"></label>
            <input asp-for="personalAseo.identificacion" class="form-control">
            <span class="text-danger" asp-validation-for="personalAseo.identificacion"></span>
        </div>
        <div class="form-group">
            <label asp-for="personalAseo.edad"></label>
            <input asp-for="personalAseo.edad" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="personalAseo.estadoCovid"></label>
            <input asp-for="personalAseo.estadoCovid" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios></button>
    </form>
    break;
     case 6:


    <h1>Editar PersonalCocina</h1>
    <form method="post">
        <input type="hidden" asp-for="personalCocina.id">
        <div class="form-group">
            <label asp-for="personalCocina.nombre"></label>
            <input asp-for="personalCocina.nombre" class="form-control">
            <span class="text-danger" asp-validation-for="personalCocina.nombre"></span>
        </div>
        <div class="form-group">
            <label asp-for="personalCocina.apellido"></label>
            <input asp-for="personalCocina.apellido" class="form-control">
            <span class="text-danger" asp-validation-for="personalCocina.apellido"></span>
        </div>
        <div class="form-group">
            <label asp-for="personalCocina.Turno_servcio_cocina"></label>
            <input asp-for="personalCocina.Turno_servcio_cocina" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="personalCocina.identificacion"></label>
            <input asp-for="personalCocina.identificacion" class="form-control">
            <span class="text-danger" asp-validation-for="personalCocina.identificacion"></span>
        </div>
        <div class="form-group">
            <label asp-for="personalCocina.edad"></label>
            <input asp-for="personalCocina.edad" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="personalCocina.estadoCovid"></label>
            <input asp-for="personalCocina.estadoCovid" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios></button>
    </form>
    break;
}