@page
@model CTRestaurant.App.Frontend.Pages.EliminarModel
@{
    @switch (@Model.item)
    {
        case 1:
            ViewData["Title"] = "Eliminar Profesor";
            break;
        case 2:
            ViewData["Title"] = "Eliminar Registro";
            break;
        case 3:
            ViewData["Title"] = "Eliminar Administrativo";
            break;
        case 4:
            ViewData["Title"] = "Eliminar Estudiante";
            break;
        case 5:
            ViewData["Title"] = "Eliminar Personal Aseo";
            break;
        default:
            break;
    }

}
@switch (@Model.item)
{
    case 1:

        <h1>Desea Eliminar el profesor</h1>
        <table class="table">
            <tr>
                <td>@Model.profesor.nombre</td>
                <td>@Model.profesor.apellido</td>
                <td>@Model.profesor.Facultad</td>
                <td>@Model.profesor.Cubiculo</td>
                <td>@Model.profesor.edad</td>
                <td>@Model.profesor.estadoCovid</td>

            </tr>
        </table>
        <form method="post">
            <input type="hidden" asp-for="profesor.id" />
            <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
        </form>
        break;
    case 2:
        <h1>Eliminar Registro @Model.registro.Id</h1>
        <table class="table" style="text-align:center;">
            <tr>

                <th>Fecha</th>
                <th>Aforo</th>
                <th>Cantidad Mesas</th>
                <th>Puestos Por Mesa</th>
            </tr>
            <tr>
                <td>@Model.registro.FechaRegistro.ToShortDateString()</td>
                <td>@Model.registro.Aforo</td>
                <td>@Model.registro.CantidadMesas</td>
                <td>@Model.registro.PuestosPorMesa</td>
            </tr>

        </table>

        <form method="post">
            <input type="hidden" asp-for="registro.Id">
            <input class="btn btn-primary" type="button" onclick="history.back()" name="volver atrás" value="Volver Atrás">
            <button type="submit" class="btn btn-danger">Confirmar Eliminar</button>
        </form>
        break;
    case 3:

        <h1>Desea Eliminar el administrativo</h1>
        <table class="table">
            <tr>
                <td>@Model.administrativo.nombre</td>
                <td>@Model.administrativo.apellido</td>
                <td>@Model.administrativo.Oficina</td>
                <td>@Model.administrativo.Dependencia</td>
                <td>@Model.administrativo.edad</td>
                <td>@Model.administrativo.estadoCovid</td>

            </tr>
        </table>
        <form method="post">
            <input type="hidden" asp-for="administrativo.id" />
            <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
        </form>
        break;
     case 4:

        <h1>Desea Eliminar el Estudiante</h1>
        <table class="table">
            <tr>
                <td>@Model.estudiante.nombre</td>
                <td>@Model.estudiante.apellido</td>
                <td>@Model.estudiante.Programa</td>
                <td>@Model.estudiante.edad</td>
                <td>@Model.estudiante.estadoCovid</td>

            </tr>
        </table>
        <form method="post">
            <input type="hidden" asp-for="estudiante.id" />
            <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
        </form>
        break;
         case 5:

        <h1>Desea Eliminar el Personal de Aseo</h1>
        <table class="table">
            <tr>
                <td>@Model.personalAseo.nombre</td>
                <td>@Model.personalAseo.apellido</td>
                <td>@Model.personalAseo.Turno_servcio_aseo</td>
                <td>@Model.personalAseo.edad</td>
                <td>@Model.personalAseo.estadoCovid</td>

            </tr>
        </table>
        <form method="post">
            <input type="hidden" asp-for="personalAseo.id" />
            <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
        </form>
        break;
    default:
        break;
}