@page
@model CTRestaurant.App.Frontend.Pages.EliminarModel
@{
    ViewData["Title"] = "Eliminar";
}
<h1>Eliminar Registro @Model.registro.Id</h1>
<table class="table" style="text-align:center;">
    <tr>
        
        <th>Fecha</th>
        <th>Aforo</th>
        <th>Cantidad Mesas</th>
        <th>Puestos Por Mesa</th>        
    </tr>
    <tr>
        <td>@Model.registro.FechaRegistro.ToShortDateString()</td>
        <td>@Model.registro.Aforo</td>
        <td>@Model.registro.CantidadMesas</td>
        <td>@Model.registro.PuestosPorMesa</td>
    </tr>

</table>
<form method="post">
    <input type="hidden" asp-for="registro.Id">
    <input class="btn btn-primary" type="button" onclick="history.back()" name="volver atrás" value="Volver Atrás">
    <button type="submit" class="btn btn-danger">Confirmar Eliminar</button>
</form>