@page
@model CTRestaurant.App.Fronted.Pages.ProfesoresModel
@{
}
<h1>Listado Profesores </h1>
<table class="table">
    @foreach (var profesor in Model.Profesores)
    
    {
        <tr>
            <td>@profesor.nombre</td>
            <td>@profesor.apellido</td>
            <td>@profesor.Facultad</td>
            <td>@profesor.Cubiculo</td>
            <td>@profesor.identificacion</td>
            <td>@profesor.edad</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Detalles"asp-route-profesoridentificacion="@profesor.id">
                    <i class="fas fa-info-circle" aria-hidden="true">

                    </i>
                </a>
            </td>
              <td>
                <a class="btn btn-secondary table-btn" asp-page="./Editar"asp-route-profesoridentificacion="@profesor.id">
                    <i class="fas fa-address-book" aria-hidden="true">

                    </i>
                </a>
            </td>
             <td>
                <a class="btn btn-danger table-btn" asp-page="./Eliminar"asp-route-profesoridentificacion="@profesor.id">
                    <i class="fas fa-book-dead" aria-hidden="true">

                    </i>
                </a>
            </td>
        </tr>

    }
</table>
<a asp-page=".\Editar" class="btn btn-primry">Adicionar Profesor</a>