@page
@model CTRestaurant.App.Frontend.Pages.RegistrosRestauranteModel
@{
    ViewData["Title"] = "Registros";
}
<h1>Registros del Restaurante</h1><a class="btn btn-success" asp-page="./Editar">Adicionar Registro</a>
<table class="table" style="text-align:center;">
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        @*<th>Aforo</th>
        <th>Cantidad Mesas</th>
        <th>Puestos Por Mesa</th>*@
        <th>Detalles</th>
        <th>Editar</th>
        <th>Borrar</th>
    </tr>
    @foreach (var registro in Model.RegistrosRestaurante)
    {
        <tr>
            <td>@registro.Id</td>
            <td>@registro.FechaRegistro.ToShortDateString()</td>
            @*<td>@registro.Aforo</td>
            <td>@registro.CantidadMesas</td>
            <td>@registro.PuestosPorMesa</td>*@
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Detalles" asp-route-IdRegistro="@registro.Id">
                    <i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
                    
                </a>
            </td>
            <td>
                <a class="btn btn-secondary table-btn" asp-page="./Editar" asp-route-IdRegistro="@registro.Id">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"></i>
                    
                </a> 
            </td>
            <td>        
                <a class="btn btn-danger table-btn" asp-page="./Eliminar" asp-route-IdRegistro="@registro.Id">
                    <i class="fas fa-trash-alt"></i>
                    
                </a>
            </td>
        </tr>
    }
</table>
